{% extends "quotes/base.html" %}
{%load extract%}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                <span class="text" itemprop="text">
                {{quote.quote}}
                <span>by <small class="author" itemprop="author">{{quote.author|author}}</small>
            <a href="/author/Albert-Einstein">(about)</a>
            </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags%}

                    <a class="tag" href="/tag/change/page/1/">{{tag}}</a>

                    {% endfor %}
                </div>
        </div>
        {% endfor %}
z
    </div>

</div>

{% endblock %}